@font-face {
    font-family: "Upheaval";
    src: url("./assets/upheaval.ttf");
}
body {
    margin: 0;
    padding: 0;
}

* {
    font-family: "Upheaval";
}

:root {
    --titleboxheight: 80%
}

.titlesection {
    display: flex;
    align-items: center;
    justify-content: center;
    height: var(--titleboxheight);
    font-size: 100px;
    margin-top: 20px;
}

.titleduck {
    position: absolute;
    width: 50px;
    z-index: -100;
}

.buttonsection {
   display: flex;
   flex-direction: column;
   margin-left: 20px;
   margin-top: 100px;
   gap: 40px;
}

.menubutton {
    font-size: 30px;
    border: none;
    background-color: beige;
    padding: 13px;
    width: 350px;
}

.menubutton:hover {
    background-color: rgb(88, 228, 102);
    cursor: pointer;
}

@keyframes letterfall {
    from {
        translate: 0px -200px;
    }
    to {
        translate: 0px;
    }
}

@keyframes titleduck {
    from {
        translate: -10vw;
    }
    to {
        translate: 110vw
    }
}

.space {
    width: 20px;
}

.menugrid {
    height: (100% - var(--titleboxheight));
    display: grid;
    grid-template-columns: 50% 50%;
}
