@font-face {
    font-family: "Upheaval";
    src: url("./assets/upheaval.ttf");
}
body {
    margin: 0;
    padding: 0;
    background-color: white;
}

* {
    font-family: "Upheaval";
}

:root {
    --titleboxheight: 80%
}

.titlesection {
    display: flex;
    align-items: center;
    justify-content: center;
    height: var(--titleboxheight);
    font-size: 100px;
    margin-top: 20px;
}

.titleduck {
    position: absolute;
    width: 50px;
    z-index: -100;
}

.buttonsection {
   display: flex;
   flex-direction: column;
   margin-left: 20px;
   margin-top: 100px;
   gap: 40px;
   flex-wrap: wrap;
   height: 100%;
}

.menubutton {
    font-size: 30px;
    border: none;
    background-color: beige;
    padding: 13px;
    width: 350px;
    color: black
    !important
}

.menubutton:hover {
    background-color: rgb(88, 228, 102);
    cursor: pointer;
}

@keyframes letterfall {
    from {
        translate: 0px -200px;
    }
    to {
        translate: 0px;
    }
}

@keyframes titleduck {
    from {
        translate: -10vw;
    }
    to {
        translate: 110vw
    }
}

.space {
    width: 20px;
}

.menugrid {
    height: (100% - var(--titleboxheight));
}

.dialog {
}

.volumecontrol {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-width: 400px;
    
}

.volumeclabels {
    text-align: center;
}

.volumelabel {
    margin-top: 4px;
}

.volumeicons {
    display: flex;
    width: 100%;
    align-items: flex-start;
}

.volumeicons input[type="range"] {
    flex: 1;
    width: 100%;
}

.savetopbar {
    display: flex;
    justify-content: space-between;
}

button {
    border-width: 1px;
    border-radius: 6px;
    padding: 4px;
}
button:hover {
    background-color: rgb(88, 228, 102);
    cursor: pointer;
}

.iconbutton {
    display: flex;
    align-items: center;
    justify-content: center;
}

.danger {
    background-color: rgb(255, 0, 0);
    color: white;
}

.danger:hover {
    background-color: rgb(108, 4, 4);
}